html {
  font-size: 14px;
}

.header {
  background: #3CAC9E;
}

.home-hero {
  text-align: center;
  position: relative;
}
.home-hero img {
  max-width: 100%;
}
.home-hero .caption {
  max-width: 740px;
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  bottom: 0;
  margin: auto;
}
