extends layouts/_standard

block append global_variables
  -var title= 'Home ', bodyClass='page general-page', project_name= 'Your ProjectName'


block header
  include partials/header


block main_content



