div.home-hero
  img(src="./images/banner-image.png" alt="Hero")
  div.caption
    h1 Find the Account That Best For You
      |Secure.Instant.Payment
    div.hero-buttons
      a(href="#" class="btn btn-log") Sign Up For Personal Account
      a(href="#" class="btn btn-log") Sign Up For Business Account
