div.header-wrapper
  div.container
    div.logo
      img(src="./images/ipay-logo.png" alt="iPay Logo")
    div.login.pull-right
      a(href="#" class="btn btn-log") Log In
      a(href="#" class="btn btn-log") Sign Up

